# ignore
jsconfig.json
coffeelint.json
.vscode/

password.json
config.*.json
config.user.bak

/bak
/config
/ygopro
/windbot
/decks
/decks_save*
/replays
/node_modules
/ssl
/ygosrv233
/challonge
/logs
/plugins

test*
*.heapsnapshot
*.tmp
*.bak
*.log

*.map

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

.git*
.dockerignore
Dockerfile*
/docs
/README.md
/*.coffee
/LICENSE
