# ignore
jsconfig.json
coffeelint.json
.vscode/

password.json
config.*.json

/ygopro
/windbot
/decks/
/decks_save*
/node_modules/
/ssl
/ygosrv233

test*
*.heapsnapshot
*.tmp
*.bak
*.log

*.map

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
