# ignore
jsconfig.json
coffeelint.json

password.json
config.*.json

ygopro
windbot
/decks/
/node_modules/
!/node_modules/struct/

test*
*.heapsnapshot
*.tmp
*.bak
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
